<div class="container">
    <div class="row justify-content-between">


        <div class="col-1 mt-5">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/photo.jpg" class="card-img-top" alt="Daniel">
                <div class="card-body">
                    <h5 class="card-title">Daniel Muñoz</h5>
                    <p class="card-text">Aspirante a practicante encargado de desarrollar el proyecto.</p>
                </div>
            </div>
        </div>

        <div class="col-8">
            <h3 class="text-center mb-3 mt-5">El trabajo se diseñó buscando cubrir los siguientes requerimientos</h3>

            <ul class="text-justify">
                <li>
                    <p class="mb-0">LISTADO DE NOMBRES</p>
                    <p class="mb-0">Crear un arreglo con 3 nombres de personas, lo debes mostrar en pantalla en forma de lista con dos iconos/botones:</p>
                    <p class="mb-0">1. Que nos permita eliminar el nombre seleccionado del arreglo.</p>
                    <p class="mb-0">2. Que nos permita ver el nombre seleccionado una alerta de boostrap.</p>
                    <p>Además, debemos de tener un pequeño formulario que nos permita agregar nombres a este mismo arreglo y que el input se limpie una vez se haya agregado el nuevo nombre. </p>
                </li>
                <li>
                    <p class="mb-0">LISTADO DE USUARIOS</p>
                    <p class="mb-0">Crear un pequeño menú de navegación o pestañas que nos permita acceder a una nueva ruta llamada usuarios, en esta pantalla solo nos debe de mostrar una tabla que incluya las columnas: id, nombre, email, teléfono y ciudad.</p>
                    <p class="mb-0">Para poblar la tabla de datos tenemos que consumir https://jsonplaceholder.typicode.com/users/ a través de angular HTTP, y mostrar solo los datos: id, name, email, phone y city respectivamente (ocultar de la tabla el usuario que tiene
                        el id 3).
                    </p>
                </li>
            </ul>
            <p class="text-justify"> <span class=" text-danger"> NOTA: </span> Toda la maquetación de preferencia la debes hacer utilizando bootstrap. Puedes agregar características que explican los videos pero debes mantener las indicaciones anteriores.</p>
            <p> <span class=" text-success">PLUS:</span> Que la tabla de usuarios tenga la opción para editar y eliminar el usuario seleccionado.</p>
        </div>
    </div>
</div>